/*body {
    background-position:center;
    text-align: center;
    text-transform: capitalize;
    background: -webkit-linear-gradient(left, rgba(13, 67, 196, 0.38), rgba(240, 5, 219, 0.23));
    font-style: inherit;
    font-family: "SansSerif";
    text-decoration-color: aliceblue;
    font-size: 30px;
}*/
body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/assets/images/bg.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    background-color: bisque;
    background-blend-mode: color-dodge;
    font-family: "Verdana";
    padding: 5% 0 0;
    width: 360px;
    margin: auto;

}
.btn{
border-radius: 50px;
    background-color: #fffbfd;
    border: none;
    color: rgba(6, 0, 255, 0.91);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}