
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*li a:hover:not(.active) {
    background-color: rgba(0, 66, 233, 0.86);
}*/

.active {
    background-color: #9999FF;
}

.inv{
    position: relative;
    top: 2rem;
    right: 2rem;
    font-size: x-large;
    line-height: .8;
    margin-top: 0;
    text-align: center;
    font-family: 'IM Fell French Canon Pro';
}
.logout{
    position: absolute;
    left: 2000px;
}
body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/assets/css/bgimage.jpg");

    /* Full height */
    height: 100%;
    background-size: cover;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
}

.navbar ul li a {
    color:#fff !important;}
.navbar ul li a:hover {
    color:#000 !important;}

/* Change this breakpoint if you change the breakpoint of the navbar */



.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/* Other styles for the page not related to the animated dropdown */

body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}