

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background: url("/assets/images/bg.jpeg") no-repeat center center fixed;
    /* Full height */
    height: 100%;
    background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
}
table {
    margin-bottom: 10%;
    background-color: rgb(106, 105, 164);
    text-align:center;
    position: center;
    align-self: center;
    align-items: center;
    width: 1030px;
    border-collapse: separate;
    box-shadow: 0 0 50px rgba(222, 38, 38, 0.1);
    color: black;
}


thead {
    background-color: #55608f;
    text-align: center;
    padding: 15px;
    background-color: rgba(110, 233, 248, 0.33);
    color: #000000;
}


tr {
    background-color: rgba(210, 255, 206, 0.44);
    position: center;
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
    z-index: -1;
    color: rgb(0, 0, 0)
}
.button{
    position: absolute;
    left: 800px;
    border-radius: 50px;
    background-position: center;
    margin:auto;
    border-bottom-style: wave;
    border: rgba(136,248,38,0.96);
    background: rgba(255, 168, 10, 0.82) none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 30px;
    width: auto;

}


